#config-overlay {
    text-align: center;
}

#config-overlay h2 {
    margin: 0.5rem 0;
}

.form-control {
    margin: 0.5rem 0;
}

.form-control label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control input {
    font: inherit;
    border: 1px solid rgb(204, 204, 204);
    width: 15rem;
    padding: 0.35rem;
}

.error label {
    color: rgb(136, 2, 2);
}

.error input {
    border-color: rgb(136, 2, 2);
    color: rgb(136, 2, 2);
    background-color: rgb(253, 219, 219);
}

.player-symbol {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(47, 4, 82);
    margin: 0.5rem 0;
}

